<?xml version="1.0"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433 을 방문하십시오.
  -->
<configuration>
  
    <connectionStrings>
      <add name="ASPNET" connectionString="Server=DESKTOP-AD0TPQ2;Database=ASPNET;User Id=sa;Password=1234;" providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  <system.web>
    <pages theme="Green"/>
    <compilation debug="true" targetFramework="4.0"/>
    <!-- 인증 방법 설정 -->
    <authentication mode="Forms">
      <forms loginUrl="index.aspx" defaultUrl="index.aspx"/>
    </authentication>
    <!-- 권한 설정 -->
    <authorization>
      <!--<deny users="?" />-->
      <allow users="*"/>
    </authorization>
    <webParts enableExport="true">
      <personalization>
        <authorization>
          <allow verbs="enterSharedScope" users="nodame"/>
        </authorization>
      </personalization>
    </webParts>
  </system.web>
  <!-- 권한 설정에 따른 익명 사용자 회원 가입 및 암호 변경 페이지 접근 허용 -->
  <location path="Public">
    <system.web>
      <authorization>
        <allow users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 메일 설정 -->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>